<!DOCTYPE html>
<html>
    <head>
        <title> Forms! </title>
    </head>
    <body>
        <h3> {{status}} </h3>
        <h1> Enter your username and password here!</h1>
            <form action="/auth" method="POST">
                <b> username: </b> <input type="text" name="user">
                <br>
                <b> password: </b> <input type="text" name="pass">
                <input type="submit" name="log" value="Login">
		<input type="submit" name="reg" value="Register">
            </form>
    </body>
</html>
